*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", system-ui, sans-serif;
    font-size: 1.6rem;
    background-color: #4a306d;
    margin: auto;
    color: #bfd5f8;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.main {
    flex: auto;
    max-width: 600px;
    margin: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

h1 {
    color: #6f9ceb;
}

header {
    margin: auto;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    padding-top: max(2rem, env(safe-area-inset-top));
    max-width: 450px;
}

footer {
    max-width: 450px;
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
    margin: auto;
}